 <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin">Admin Area</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link active" aria-current="page" href="/admin/payments">Payments Logs</a>
          </li>
        </ul>
      </div>
      <div th:if="${username != null}" class="position-relative mx-3">
        <h5>Welcome,<span th:text="${username}"></span></h5>
      </div>
      <div th:if="${username != null}">
        <a class="btn btn-primary position-relative mx-3" href="/logout">Logout</a>
      </div>

      <div th:if="${username == null}">
        <a class="btn btn-primary position-relative mx-3" href="/login">Login</a>
      </div>
    </div>
  </nav>
  <!-- Navbar -->