<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light" th:fragment="user-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/allbooks">All Books</a>
                </li>
            </ul>

            <div th:if="${username != null}" class="position-relative mx-3">
                <h5>Welcome,<span th:text="${username}"></span></h5>
            </div>
            <div th:if="${username != null}">
                <a class="btn btn-primary position-relative mx-3" href="/logout">Logout</a>
            </div>

            <div th:if="${username == null}">
                <a class="btn btn-primary position-relative mx-3" href="/login">Login</a>
            </div>

            <a type="button" class="btn btn-primary position-relative mx-3" href="/cart">
                My Cart
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                      th:text="${cart.getTotalQuantity()}"></span>
                <span class="visually-hidden">shopping cart</span>
            </a>

            <form th:action="@{/search}"  method="post" class="d-flex" role="search">
                <input class="form-control me-2" type="text" name="searchParam" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>