<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">Admin Area</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link active" aria-current="page" href="/admin/payments">Payments Logs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>

<div class="container my-5">
    <h2 class="mb-5">Updating the book: <span th:text="${book.bookName}"></span> </h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/admin/update}" th:object="${book}" method="post">
                <div class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="book-addon">Book Name</span>
                        <input type="text" th:field="*{bookName}" class="form-control" placeholder="Name" id="bookName" aria-label="Name" aria-describedby="book-addon">
                        <span th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}" class="text-danger"></span>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Quantity</span>
                        <input type="text" th:field="*{quantity}" class="form-control" placeholder="Name" id="quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                        <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger"></span>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-addon">Price</span>
                        <input type="text" th:field="*{price}" class="form-control" placeholder="Name" id="price" aria-label="Price" aria-describedby="price-addon">
                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="discount-addon">Discount</span>
                        <input type="text" th:field="*{discount}" class="form-control" placeholder="Name" id="discount" aria-label="Discount" aria-describedby="discount-addon">
                        <span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}" class="text-danger"></span>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="image-addon">Image url</span>
                        <input type="text" th:field="*{image}" class="form-control" placeholder="Name" id="image" aria-label="Image" aria-describedby="image-addon">
                        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></span>
                    </div>
                    <input type="hidden" th:value="*{id}" name="id" id="id">
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="name" class="col-form-label">Name</label>-->
<!--                        <input type="text" th:field="*{bookName}" class="form-control" id="name" placeholder="Name">-->
<!--                        <span th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}" class="text-danger"></span>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="quantity" class="col-form-label">Quantity</label>-->
<!--                        <input type="text" th:field="*{quantity}" class="form-control" id="quantity" placeholder="Quantity">-->
<!--                        <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger"></span>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="price" class="col-form-label">Price</label>-->
<!--                        <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="Price">-->
<!--                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="discount" class="col-form-label">Discount</label>-->
<!--                        <input type="text" th:field="*{discount}" class="form-control" id="discount" placeholder="Discount">-->
<!--                        <span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}" class="text-danger"></span>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="image" class="col-form-label">Discount</label>-->
<!--                        <input type="text" th:field="*{image}" class="form-control" id="image" placeholder="Image">-->
<!--                        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></span>-->
<!--                    </div>-->
                </div>
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <input type="submit" class="btn btn-primary" value="Update Book">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>